/* ====================== */
/*======MAIN RULES======= */
/* ====================== */
html {
    box-sizing: border-box;
}
  
  *, *:before, *:after {
    box-sizing: inherit;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    color: #0a0e17
}

html {
    overflow-x: hidden;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    text-transform: capitalize;
}

h1, h2, h3 {
    text-transform: capitalize;
    font-weight: 100
}

p {
    font-weight: 100;
    color: #838383
}

.btn {
    padding: 10px 14px;
    border-radius: 5px;
    display: inline-block;
}

.a-click {
    color: #00a8eb;
}

.disp-flex ul { 
    display: flex;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1040px;
}


/* ====================== */
/* ===HEADER & NAVBAR==== */
/* ====================== */
header {
    background: url('../images/Large-Triangles.svg');
    width: 100%;
    height: 50rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0 100%);
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li:not(:last-child) {
    padding-right: 16px
}

nav ul li a {
    color: #fff;
    position: relative;
}

nav ul li a::after {
    content: '';
    display: block;
    border: 2px solid #fff;
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    width: 0;
    opacity: 0;
    transition: width .3s
}

nav ul li a:hover::after {
    opacity: 1;
    width: 100%
}
/*
nav ul li a:hover {
    color: hsla(0,0%,100%,.5)
}
*/
.devices-background {
    position: relative;
}

.smart-phone {
    transform: rotate(-14deg);
    padding: 50px 16px;
    border: 1px solid #d7e1e2;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15),
                inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.devices-background .smart-phone-1 {
    position: absolute;
    right: -191px;
    bottom: 110px;
}

.devices-background .smart-phone-2 {
    position: absolute;
    bottom: 23px;
    right: 124px;
}


/* ====================== */
/* =======INTRO========== */
/* ====================== */
.intro {
    margin-top: 8rem;
}

.intro h1 {
    font-weight: 100
}

.intro p{
    max-width: 50%;
    color: #d9fcff;
    font-size: 20px
}

.intro .btn-intro {
    background-color: #3ecf8e;
    color: #fff;
    margin-top: 1.3rem;
}

/* ============================= */
.primaryR1 {
    margin-top: 10rem
}

.our-services {
    display: flex;
    justify-content: space-between
}

.our-services__items {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.our-services__items--block {
    width: 48%
}

.second-block {
    margin-top: 5rem
}

.our-services__items--skill {
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    padding: 2rem 1.5rem;
    margin-bottom: 1.5rem;
    transition: transform .5s
}

.our-services__items--skill:hover {
    transform: scale(1.1);
    color: #fff;
    box-shadow: 0 0 3rem rgba(1, 205, 237, 0.308),
                inset 0 0 1rem rgba(1, 205, 237, 0.2);
    background-image: linear-gradient(to top left, #00a8eb, #8adcfc )
}

.our-services__items--skill:hover p {
    color: #fff
}

.our-services__items--skill:hover i {
    color: #fff;
    background-color: #98e2ff;
    box-shadow: 0 0 0.5rem rgba(152, 226, 255, 0.76)
}

.our-services__items--skill i {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    font-size: 30px;
    padding-top: 1.5rem;
    text-align: center
}

.our-services__items--skill .lightbulb-icon {
    color: #22bc71; 
    background-color: #def5ea;
}

.our-services__items--skill .ui-design-icon {
    color: #229aff;
    background-color: #e1edf7;
}

.our-services__items--skill .research-icon {
    color: #f2734b;
    background-color: #ffe9e2;
}

.our-services__items--skill .development-icon {
    color: #ffb600;
    background-color: #fff1cd
}

.our-services__more-details {
    width: 30%;
    margin-top: 10rem
}

.our-services__more-details a::after {
    content: "\f061";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 0.5rem;
    transition: all .3s;
}

.our-services__more-details a:hover::after {
    margin-left: 0.7rem;
}

.primaryR2 {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.play-video {
    display: flex;
    justify-content: space-between;
}

.video ,
.how-we-work {
    width: 48%
}

.how-we-work h2, 
.how-we-work p {
    max-width: 60%
}

.how-we-work a::after {
    content: "\f144";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 0.5rem;
}

video {
    width: 100%;
    margin-top: 3rem;
    transform: scale(1.2);
    border-radius: 0.5rem;
    box-shadow: 0 1rem 3rem rgb(0, 0, 0, 0.15);
}

.primaryR3 {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem
}

.latest-work {
    display: flex;
    justify-content: space-between
}


.primaryR3 .block-images {
    width: 19%
}

.primaryR3 h1 {
    margin-top: 15rem;
}

.primaryR3 p {
    margin-bottom: 8rem;
}

.primaryR3 .block-images {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.primaryR3 .latest-work img {
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s
}

.primaryR3 .latest-work img:hover {
    transform: scale(1.1);
}

.primaryR3 .latest-work .first-image {
    border-radius: 0 0.5rem 0.5rem 0
}

.primaryR3 .latest-work .last-image {
    border-radius: 0.5rem 0 0 0.5rem
}

.primaryR4 {
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.primaryR4 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow:  0 0 3rem rgba(0, 0, 0, 0.2);
    margin: 3rem
}

.primaryR4 .testimonials {
    max-width: 50rem;
    margin: 0 auto
}

.primaryR4 p {
    color: #0a0e17;
    font-size: 2rem;
    position: relative;
}

.primaryR4 p::before {
    content: open-quote;
    position: absolute;
    top: -14rem;
    left: 0;
    font-size:20rem;
    z-index: -1;
    color: #838383;
    opacity: 0.2
    
}

.primaryR4 .testimonials span {
    color: #00a8eb;
}
